li.nav-item.right-btn {position: absolute;top: 15px;right: 20px;background: #fff;}
li.nav-item.left-btn {background: #fff;}
li.nav-item.right-btn a.nav-link, li.nav-item.left-btn a.nav-link{font-family: 'Montserrat', Medium;font-style: normal;font-weight: 500;font-size: 16px;line-height: 22px;color: #2D2D2D;}
.bg-primary {background-color: #072139 !important;border-color:  #072139 !important;}
nav.navbar.navbar-expand-sm.bg-primary.navbar-dark {height: 70px;}
li h2 {font-family: 'Montserrat', Medium;font-style: normal;font-weight: 500;font-size: 18px;line-height: 22px;color: #fff;margin: 0;}
section.cardList {padding: 122px 0;}