<div class="container">
    <app-navbar></app-navbar>
    <div class="modal-content">
        <div class="row">
            <div class="col-sm-4" style="padding-right: 0;">
                <div class="loginimage">
                    <img src="./assets/login-bg.png" alt="">
                </div>
            </div>
            <div class="col-sm-8" style="padding-left: 0;">
                <div class="modal-body">
                    <div class="thankmsg">
                        <img src="/assets/succsess.png" alt="">
                        <h1>Order Successfully Placed</h1>
                    </div>
                    
                    <h4 class="modal-title">thank you for shopping <span>&#9786;</span></h4>
                    <h3 class="modal-title"><a routerLink="/home" class="nav-link" routerLinkActive="active">Back to home</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>